@model BookModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="display-4">Add New Book</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Author">Author</label>
            <input asp-for="Author" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages">Total Pages</label>
            <input asp-for="TotalPages" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-primary" />
        </div>

    </form>
</div>

